
.vs/ProjectEvaluation/xorps_decrypt.metadata.v9.bin
.vs/ProjectEvaluation/xorps_decrypt.projects.v9.bin
.vs/ProjectEvaluation/xorps_decrypt.strings.v9.bin
.vs/XORPS_DECRYPT/DesignTimeBuild/.dtbcache.v2
.vs/XORPS_DECRYPT/FileContentIndex/034d1504-f875-4278-8cee-8d71c1c428ef.vsidx
.vs/XORPS_DECRYPT/FileContentIndex/84f40a83-fba5-4c69-81b4-79c5f755d43d.vsidx
.vs/XORPS_DECRYPT/v17/.futdcache.v2
.vs/XORPS_DECRYPT/v17/.suo
.vs/XORPS_DECRYPT/v17/DocumentLayout.backup.json
.vs/XORPS_DECRYPT/v17/DocumentLayout.json
bin/Debug/net9.0/XORPS_DECRYPT.deps.json
bin/Debug/net9.0/XORPS_DECRYPT.dll
bin/Debug/net9.0/XORPS_DECRYPT.exe
bin/Debug/net9.0/XORPS_DECRYPT.pdb
bin/Debug/net9.0/XORPS_DECRYPT.runtimeconfig.json
input_sample/dump.txt
input_sample/error.txt
input_sample/extradump.txt
input_sample/sample_malware_fixed.c
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/ref/XORPS_DECRYPT.dll
obj/Debug/net9.0/refint/XORPS_DECRYPT.dll
obj/Debug/net9.0/XORPS_DECRYPT.AssemblyInfo.cs
obj/Debug/net9.0/XORPS_DECRYPT.AssemblyInfoInputs.cache
obj/Debug/net9.0/XORPS_DECRYPT.assets.cache
obj/Debug/net9.0/XORPS_DECRYPT.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/XORPS_DECRYPT.csproj.FileListAbsolute.txt
obj/Debug/net9.0/XORPS_DECRYPT.dll
obj/Debug/net9.0/XORPS_DECRYPT.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/XORPS_DECRYPT.genruntimeconfig.cache
obj/Debug/net9.0/XORPS_DECRYPT.GlobalUsings.g.cs
obj/Debug/net9.0/XORPS_DECRYPT.pdb
obj/Debug/net9.0/XORPS_DECRYPT.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
obj/XORPS_DECRYPT.csproj.nuget.dgspec.json
obj/XORPS_DECRYPT.csproj.nuget.g.props
obj/XORPS_DECRYPT.csproj.nuget.g.targets
*.vsidx
